.formInputWrapper{
   margin: 10px;
}

.formInputWrapper > input[type=text], .formInputWrapper > input[type=password], .formInputWrapper > label{
   font-size: 21px;
}

.errorMessage{
   color: red;
}